body{
    background: rgb(67, 67, 230);
    color: black;
    margin: 0px;
    font-family: "Rubik Wet Paint", system-ui;
    margin-bottom: 100px;
}
header{
    border-bottom: 3px #18b6dd;
    padding: 20px;
    color: rgb(15, 45, 88);
    font-size: 35px;
}
.chamada{
    background: rgb(82, 28, 133);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}
.cateria{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0,5;
}
.categoria-videos img:hover{
    opacity: 1,0;
    border: 3px solid rgb(4, 12, 87);
}